*{
	/*border: 3px solid black;*/
	font-size: 16px;
}

img{
	box-shadow: 0 0 8px 8px white inset;
}
.fa {
    font-size: 3em;
    width: 2em;
    height: 1.5em;
    text-align: center;
  }

body{
	background-image: url('../images/cryingsmile.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	width: 100rem;
	margin-left: auto;
	margin-right: auto;
	height:100rem;
	color: white;	
	font-weight: bold;
	text-align: justify;
}
p{
	font-size: 20px;
	background-color: antiquewhite;
	color: darkblue;
	padding: 20px;
}
header{
	background-image: linear-gradient(to right, teal, antiquewhite);
	padding: 0px;
	margin: 0px;
	border-radius: 2rem;
	font-size: 30px;;
}

h1, h2 {
	font-size: 30px;
}

main{	
	width: 60%;
	float: left;
	margin-top: .6em;
}

.center{
	text-align: center;	
}

header{
	background-image: linear-gradient(to right, teal, antiquewhite);
	border: 3px solid teal;
	margin-left: auto;
	margin-right: auto;
	color: antiquewhite;
	font-size: 40px;
	
}

nav{
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	font-size: 40px;
}

li a{
	color: white;
	text-decoration: none;
}

nav li a:hover {
	background-color: yellow;
   color: pink;
}

nav li a:link {
  color: red;
}

/* visited link */
nav li a:visited {
  color: white;
}

/* selected link */
nav li a:active {
  color: pink;
}

li {
  display: inline;
  font-weight: bold;
 /* display: left; */
  font-size: 20px;
}

section header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
	border-radius: 2rem;
	
}

article header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

aside header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

.pauth{
	font-style:italic;
	
}


article h3{
	font-style: bold;
	
}
aside{
	
	width:  30%;
	height: auto;
	float: right;
	 margin-top: 10px;
}
.favgames{
	/*margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 30px;*/
	 margin-left: 2rem;
	 margin-top: 2rem;
	height: 280px;
	width: 300px;
	
}

.favgames img{
	width: 80px;
	height: 80px;
	padding: 10px;
}
aside section article{
	padding: 30px;
}

.favgames table{
	width: 300px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

main section article img{
	float:left;
	width: 30%;
	margin: 10px;
}

aside section article img{
	float:left;
	width: 40%;
	margin: 10px;
		
}
aside section actile{
	padding: 100px;
	margin: 100px;
}
footer{
  border: 3px solid teal;
  
  background-image: linear-gradient(to right, teal, antiquewhite);
  text-align: center;
  clear: both;
  background-color: teal;
  color: white;
  padding: 5px 20px;
  height: 15%;
  padding-left: 100px;
  padding-right: 100px;
}

.wingdings{
	font-family: wingdings;
}

.smlinks{
	position: relative;
	top: 20px;
}
address{
	width: 40%;
	text-align: center;
	line-height: 1.5;
}

footer address div{

	height: 50px;
	align-content: center;
	vertical-align:middle;
	margin-bottom: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

footer div{
	width: 50%;
	float: right;
	position: relative;
	bottom: 160px;
	margin: 20px;
	
	
}

.game1{
	float: left;
	margin: 10px;
	padding: 10px;
	width: 500px;
	height: auto;
	text-align: justify;
}

article{
	margin: 10px;
}

iframe{
	width: 500px;
	height: 300px;
}

.navbar{
	
	height: 70px;
	width: 80%;
	padding: 14px 30px;
	position: relative;
  }

 
  .navbar .nav-header{
	display: inline;
  }
  .navbar .nav-header .nav-logo{
	display: inline-block;
	margin-top: -7px;
	position: relative;
	left: -120px;
	top: -50px;
	box-shadow: 0 0 8px 8px white inset;


  }
  
  .nav-links{
	display: inline;
	float: right;
	font-size: 18px;
	margin-left: 70px;
  }
   
  .navbar .nav-links {
	float: right;
	display: inline-block;
	padding: 5px 15px;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(9, 14, 90);
  }
  .navbar .nav-links a{
	padding: 10px 12px;
	text-decoration: none;
	font-weight: 550;
	color: white;
  }
  

.illgrmain{

 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

.illgrmain div, table{
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
}

.illgrmain img{
	width: 200px;
	height: 200px;
   }

.illgrmain iframe{
	margin-left:8rem;
	
}

.gameframe{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.email table, tr, td{
	height: 2rem;
	line-height: 2rem;
	color: white;
	font-weight: bold;
	font-size: larger;
}


/* Dropdown Button */
.dropbtn {
	background-color: #66cdaa;
	color: white;
	padding: 2rem;
	font-size: 1.2rem;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
	/*font-weight: 550;
	color: white;
	font-size: 17px;*/
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #236d9e;
	min-width: 160px;
/*	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn, .nav-links a{background-color: #40e0d0;}