/*
@fa-facebook-official: @fa-facebook;
@fa-facebook-square: @fa-facebook;
@fa-facebook: #063970;
@fa-youtube-play: @fa-youtube;
@fa-youtube-square: @fa-youtube;
@fa-youtube: red;
*/


.fa {
    font-size: 3em;
    width: 2em;
    height: 1.5em;
    text-align: center;
  }

body{
	background-image: linear-gradient(to right, teal, pink, orange);
	width: 80rem;
	margin-left: auto;
	margin-right: auto;
	height:100rem;
	color: white;	
}

header{
	padding: 0px;
	margin: 0px;
	border-radius: 2rem;
}

main{	
	width: 60%;
	float: left;
	margin-top: .6em;
}

.center{
	text-align: center;	
}

header{
	border: 3px solid teal;
	background-color: teal;	
	margin-left: auto;
	margin-right: auto;
}

nav{
	border: 3px solid teal;
	background-color: teal;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
}

li a{
	color: white;
	text-decoration: none;
}

nav li a:hover {
	background-color: yellow;
   color: pink;
}

nav li a:link {
  color: red;
}

/* visited link */
nav li a:visited {
  color: white;
}

/* selected link */
nav li a:active {
  color: pink;
}

li {
  display: inline;
  font-weight: bold;
 /* display: left; */
  font-size: 20px;
}

section header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
	border-radius: 2rem;
	
}

article header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

aside header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

section{
	
	
}

.pauth{
	font-style:italic;
	
}


article h3{
	font-style: bold;
	
}

article{
	
	margin: 10px;

	
}

div{
	
}

aside{
	
	width:  30%;
	height: auto;
	float: right;
	 margin-top: 10px;
}

main section article img{
	float:left;
	width: 30%;
	margin: 10px;
}

aside section article img{
	float:left;
	width: 40%;
	margin: 10px;
	
}
footer{
  border: 3px solid teal;
	text-align: center;
  clear: both;
  background-color: teal;
  color: white;
  padding: 5px 20px;
  height: 10%;
}

.wingdings{
	font-family: wingdings;
}

.smlinks{
	position: relative;
	top: 20px;
}

footer address div{

	height: 50px;
	align-content: center;
	vertical-align:middle;
}

.game1{
	float: left;
	margin: 10px;
	padding: 10px;
	width: 500px;
	height: auto;
	text-align: justify;
}

iframe{
	width: 500px;
	height: 300px;
}
/*
&.fa-facebook {
    color: @fa-facebook;
}

&.fa-facebook-official {
	color: @fa-facebook-official;
}

&.fa-facebook-square {
	color: @fa-facebook-square;
}

&.fa-youtube {
	color: 	@fa-youtube;
}

&.fa-youtube-play {
	color: @fa-youtube-play;
}
&.fa-youtube-square {
	color: @fa-youtube-square;
}

*/