*{
	/*border: 3px solid black;*/
}

img{
	box-shadow: 0 0 8px 8px white inset;
}
.fa {
    font-size: 3em;
    width: 2em;
    height: 1.5em;
    text-align: center;
  }

body{
	background-image: url('../images/cryingsmile.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	width: 80rem;
	margin-left: auto;
	margin-right: auto;
	height:100rem;
	color: white;	
	font-weight: bold;
}
.bckimage{
	
}
header{
	background-image: linear-gradient(to right, teal, antiquewhite);
	padding: 0px;
	margin: 0px;
	border-radius: 2rem;
}

main{	
	width: 60%;
	float: left;
	margin-top: .6em;
}

.center{
	text-align: center;	
}

header{
	background-image: linear-gradient(to right, teal, antiquewhite);
	border: 3px solid teal;
	margin-left: auto;
	margin-right: auto;
	color: antiquewhite;
}

nav{
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
}

li a{
	color: white;
	text-decoration: none;
}

nav li a:hover {
	background-color: yellow;
   color: pink;
}

nav li a:link {
  color: red;
}

/* visited link */
nav li a:visited {
  color: white;
}

/* selected link */
nav li a:active {
  color: pink;
}

li {
  display: inline;
  font-weight: bold;
 /* display: left; */
  font-size: 20px;
}

section header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
	border-radius: 2rem;
	
}

article header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

aside header{
	border: 3px solid teal;
	background-color: teal;
	text-align: center;
}

.pauth{
	font-style:italic;
	
}


article h3{
	font-style: bold;
	
}
aside{
	
	width:  30%;
	height: auto;
	float: right;
	 margin-top: 10px;
}
.favgames{
	margin-left: auto;
	 margin-right: auto;
	 margin-top: 2rem;
	height: 280px;
	width: 300px;
	/*display: inline;*/
}

.favgames img{
	width: 60px;
	height: 60px;
}

.favgames table{
	width: 300px;
}

main section article img{
	float:left;
	width: 30%;
	margin: 10px;
}

aside section article img{
	float:left;
	width: 40%;
	margin: 10px;
	
}
footer{
  border: 3px solid teal;
	background-image: linear-gradient(to right, teal, antiquewhite);

	text-align: center;
  clear: both;
  background-color: teal;
  color: white;
  padding: 5px 20px;
  height: 10%;
}

.wingdings{
	font-family: wingdings;
}

.smlinks{
	position: relative;
	top: 20px;
}

footer address div{

	height: 50px;
	align-content: center;
	vertical-align:middle;
}

.game1{
	float: left;
	margin: 10px;
	padding: 10px;
	width: 500px;
	height: auto;
	text-align: justify;
}

article{
	margin: 10px;
}

iframe{
	width: 500px;
	height: 300px;
}

.navbar{
	
	height: 70px;
	width: 80%;
	padding: 14px 30px;
	position: relative;
  }

 
  .navbar .nav-header{
	display: inline;
  }
  .navbar .nav-header .nav-logo{
	display: inline-block;
	margin-top: -7px;
	position: relative;
	left: -120px;
	top: -50px;
	box-shadow: 0 0 8px 8px white inset;


  }
  .navbar .nav-links{
	display: inline;
	float: right;
	font-size: 18px;
  }
   
  .navbar .nav-links {
	display: inline-block;
	padding: 5px 15px;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(9, 14, 90);
  }
  .navbar .nav-links a{
	padding: 10px 12px;
	text-decoration: none;
	font-weight: 550;
	color: white;
  }
  /* Hover effects */
  .navbar .nav-links a:hover{
	background-color: rgba(0, 0, 0, 0.3);
  }
   
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
	display: none;
  }
   
  @media (max-width:700px) {
	.navbar .nav-btn{
	  display: inline-block;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.navbar .nav-btn label {
	  display: inline-block;
	  width: 80px;
	  height: 70px;
	  padding: 25px;
	}
	.navbar .nav-btn label span {
	  display: block;
	  height: 10px;
	  width: 25px;
	  border-top: 3px solid #eee;
	}
	.navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
	  background-color: rgb(9, 14, 90);
	}
	.navbar .nav-links{
	  position: absolute;
	  display: block;
	  text-align: center;
	  width: 50%;
	  background-color: rgb(9, 14, 90);
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 70px;
	  right: 0px;
	}
	.navbar .nav-links a {
	  display: block;
	}
   
	/* when nav toggle button not checked */
	.navbar #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
   
	/* when nav toggle button is checked */
	.navbar #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 70px);
	  overflow-y: auto;
	}
	.navbar .nav-links .loginBtn {
	  padding: 10px 40px ;
	  margin: 20px;
	  font-size:  18px;
	  font-weight: bold;
	  color: rgb(9, 14, 90);
	}
}

.illgrmain{

 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

.illgrmain div, table{
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
}

.illgrmain img{
	width: 200px;
	height: 200px;
   }

.illgrmain iframe{
	margin-left:8rem;
	
}

.gameframe{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.email table, tr, td{
	height: 2rem;
	line-height: 2rem;
	color: white;
	font-weight: bold;
	font-size: larger;
}
